<% provide(:title, "Sign in") %>
<div class="sign">
  <h2>Sign in</h2>

  <p class="unstyled well-small alert-error">
    <%=flash.now[:error]%>
    <button onclick="$(this).parents('p').remove();" class="close">×</button>
  </p>

  <%= form_for(:session, url: sessions_path) do |f| %>

      <p><%= f.label :email %>
      <%= f.text_field :email %></p>

      <p><%= f.label :password %>
      <%= f.password_field :password %></p>

      <p>
        <label class="checkbox">
          remember me
          <%= f.check_box :remember_token %>
        </label>
      </p>

      <p class="btn-area">
        <%= f.submit "Sign in", class: "btn btn-info" %>
        <a href="#" class="btn btn-link">Forgot password?</a>
      </p>
  <% end %>
</div>