<% provide(:title, 'Sign up') %>
<div class="sign">
  <h2>Join us today</h2>

  <%= display_errors(@user) %>

  <%= form_for(@user) do |f| %>

      <p>
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :class=>"large" %>
        <small>Your Private page: http://bestdressworld.com/<strong>USERNAME</strong></small>
      </p>

      <p><%= f.label :email %>
        <%= f.text_field :email %> </p>

      <p><%= f.label :password %>
        <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %></p>

      <p>
        <label class="checkbox">
          <input name="brand" type="checkbox"> I'm a brand or store
          <i class="icon-question-sign"></i>
        </label>
      </p>

      <p class="btn-area"><%= f.submit "Create my account", class: "btn btn-large btn-block btn-info" %></p>
  <% end %>
</div>