<% provide(:title, 'Sign up') %>
<div class="sign">
  <h2>Join us today <small>Have an account? <a href="<%=login_path%>">login</a></small></h2>
  <p><small>Connect with a social network</small></p>
  <ul class="sns unstyled clearfix">
    <li><a class="twitter" href="/auth/twitter"><i></i>Twitter</a></li>
    <li><a class="facebook" href="/auth/facebook"><i></i>Facebook</a></li>
    <li class="last"><a class="google" href="/auth/google"><i></i>Google</a></li>
  </ul>

  <div class="line"></div>

  <p class="text-center other-way <%=@user.errors.blank? ? '' : 'hide'%>">
    <small>Sign up with
      <a onclick="$('#new_user').show();$('.other-way').hide();" href="javascript:void(0);"><b>your email address</b></a>
    </small>
  </p>

  <%= form_for(@user, :html => {:class => (@user.errors.blank? ? 'hide' : '')}) do |f| %>
      <input type="hidden" name="ret_url" value="<%= params[:ret_url] %>"/>
      <p><small>Sign up with your email address</small></p>
      <%= display_errors(@user) %>
      <p>
        <%= f.label :username %>
        <%= f.text_field :username, :class=>"large" %>
        <small>Your Private page: http://bestdressworld.com/<strong>USERNAME</strong></small>
      </p>

      <p><%= f.label :email %>
        <%= f.text_field :email %> </p>

      <p><%= f.label :password %>
        <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %></p>

      <p>
        <label class="checkbox">
          <input name="brand" type="checkbox"> I'm a brand or store
          <i class="icon-question-sign"></i>
        </label>
      </p>

      <p class="btn-area"><%= f.submit "Create my account", class: "btn btn-large btn-block btn-info" %></p>
      <p class="text-center">
        <a onclick="$('#new_user').hide();$('.other-way').show();" href="javascript:void(0);"><small>go back</small></a>
      </p>
  <% end %>
</div>