<%=render "menu"%>

<div class="alert">
  <div class="input-prepend input-append mb0">
    <form class="mb0" method="post" action="<%= products_path %>">
      <span class="add-on">amazon asin</span>
      <input type="hidden" name="ret_url" value="<%=request.url%>"/>
      <input class="span2" name="asin" type="text" value="<%= flash[:asin] %>"/>
      <button class="btn btn-info" type="submit">share!</button>
    </form>
  </div>
  <span style="margin-left: 20px; color: red; font-size: 12px;"><%=flash[:alert]%></span>
</div>

<%= render "products/waterfall", :products => @products  %>