<div class="mb10">
  <div class="input-prepend input-append mb0">
    <form class="mb0" method="get" action="<%= url_for(:controller => 'admin/amazon', :action => 'index') %>">
      <span class="add-on">关键词</span>
      <input type="text" name="keywords" value="<%= params[:keywords] %>"/>
      <button class="btn" type="submit">搜索</button>
    </form>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>ASIN</th>
    <th>产品名称</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
      <tr>
        <td><%= item.get('ASIN') %></td>
        <td>
          <a href="<%= item.get('DetailPageURL') %>" target="_blank"><%= item.get('ItemAttributes/Title') %></a>
          <%= render 'admin/images/list', :images=>AmazonAPI.images(item) %>
        </td>
        <td>
          <% spide_url = url_for(:controller => 'admin/products', :action => 'amazon', :asin=>item.get('ASIN'), :ret_url => URI.encode(request.url)) %>
          <a target="_blank" href="<%= spide_url %>"><i class="icon-download-alt"></i> 爬取</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate(@items, :theme => 'bootstrap') unless @items.blank? %>

