<%= f.hidden_field :id %>
<div class="control-group">
  <%= f.label :parent_id, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :parent_id %>
  </div>
</div>

<div class="control-group">
  <%= f.label :code, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :code %>
  </div>
</div>

<div class="control-group">
  <%= f.label :name_en, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name_en %>
  </div>
</div>

<div class="control-group">
  <%= f.label :name_cn, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name_cn %>
  </div>
</div>

<div class="control-group">
  <%= f.label :url_key, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :url_key %>
  </div>
</div>