<%= f.hidden_field :id %>
<div class="control-group">
  <%= f.label :parent_id, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :parent_id %>
  </div>
</div>

<div class="control-group">
  <%= f.label :name, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :url_key, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :url_key %>
  </div>
</div>