<div class="pull-left tree">
  <div class="node">root
    <% if can?(:manage, Category) %>
    <a title="为根分类添加子分类" href="<%= new_admin_category_url(:parent_id => 0) %>"><i class="icon-plus"></i></a>
    <% end %>
  </div>
  <div class="children" id="children0">
    <% @categories.each_with_index do |category, index| %>
      <div class="node-group">
        <div class="node expandable" id="node<%=category.id%>">
          <div class="hitarea"></div><%= render "tree_node", :category => category %>
        </div>
        <% unless category.children.blank? %>
        <div class="children">
          <% category.children.each do |c| %>
          <div class="node" id="node<%=c.id%>"><%= render "tree_node", :category => c %> </div>
          <% end %>
        </div>
        <% else %>
          <div class="children" id="children<%=category.id%>"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render "admin/common/modal" %>

<script>
    $(document).ready(function() {
        $('.node').mouseover(function() {
            $(this).find('.actions').show();
        }).mouseout(function(){
            $(this).find('.actions').hide();
        });
        //
        $('.actions .add, .actions .edit').click(function() {
            util.modal($(this).attr("href"));
            return false;
        });
    });
</script>