<div class="mb10">
  为分类 <span class="label label-info"><%= @category.parent.name %></span> 添加子分类：
</div>
<%= form_for [:admin, @category], :html => { :class => 'form-horizontal' } do |f| %>
    <% if @category.errors.any? %>
    <div>
      <ul class="unstyled well-small alert-error">
        <% for message in @category.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= render "fields", :f => f %>
    <div class="form-actions">
      <%= f.submit '提交', :class => 'btn btn-primary' %>
      <a href="<%= admin_categories_url %>" style="margin-left: 10px;"><i class="icon-share-alt"></i>返回分类管理</a>
    </div>
<% end %>

