<%= f.hidden_field :product_id %>
<div class="control-group">
  <%= f.label :price, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :price %>
  </div>
</div>
<div class="control-group">
  <%= f.label :sale_price, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :sale_price %>
  </div>
</div>

<div class="control-group">
  <%= f.label :sale_date_from, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :sale_date_from %>
  </div>
</div>

<div class="control-group">
  <%= f.label :sale_date_to, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :sale_date_to %>
  </div>
</div>