<% attrs = Product.new.attributes.map { |k, v| k } # 将数据表整理成数组 %>
<%= form_for [:admin, @product], :html => { :class => 'form-horizontal' } do |f| %>
    <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <% if @product.errors.any? %>
    <div>
      <ul class="unstyled well-small alert-error">
        <% for message in @product.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.hidden_field :id %>
    <input type="hidden" name="ret_url" value="<%=params[:ret_url]%>"/>

    <div class="pull-left">
        <% @product.attributes.each do |key, value| %>
        <% if attrs.include?(key) && !['id', 'created_at', 'updated_at', 'creater_id', 'updater_id'].include?(key) %>
        <div class="control-group">
          <%= f.label key, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field key %>
          </div>
        </div>
        <% end %>
        <% end %>
    </div>

    <div class="pull-left">
        <div>
        <%= f.fields_for :discount do |builder| %>
            <%= render "discount_fields", :f => builder %>
        <% end %>
        </div>

        <div style="margin-left: 30px;"><%= render "admin/images/list", :images => @product.images %></div>
        <div class="hide">
          <%= f.fields_for :images do |builder| %>
            <%= render "image_fields", :f => builder %>
          <% end %>
        </div>
    </div>

    <div class="pull-left">
      <%= f.fields_for :description do |builder| %>
          <%= render "description_fields", :f => builder %>
      <% end %>
    </div>

    <div class="clearfix"></div>

    <div class="form-actions">
      <%= f.submit '提交', :disable_with => "提交中...", :class => 'btn btn-primary' %>
      <a href="<%= admin_products_url %>" style="margin-left: 10px;"><i class="icon-share-alt"></i>返回产品管理</a>
    </div>
<% end %>