<% unless flash[:error].blank? %>
<div class="alert alert-error">
  <%= flash[:error] %>
</div>
<% end %>

<div class="mb10">
  <a class="btn" href="<%= url_for(:controller => 'admin/products', :action => 'new') %>"><i class="icon-plus-sign"></i> 添加产品</a>
  -
  <div class="input-prepend input-append mb0">
    <form class="mb0" method="get" action="<%= url_for(:controller => 'admin/products', :action => 'amazon') %>">
    <span class="add-on">sku</span>
    <input class="span2" name="asin" type="text">
    <button class="btn" type="submit">爬取</button>
    </form>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>ASIN</th>
    <th>产品名称</th>
    <th>价格</th>
    <th>创建时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.asin %></td>
    <td><%= product.name %></td>
    <td><%= product.currency %> <%= product.price %></td>
    <td><%= product.created_at.to_date %></td>
    <td>
      <a href="<%= edit_polymorphic_url([:admin, product]) %>"><i class="icon-edit"></i>编辑</a>
      |
      <%= link_to content_tag(:i, '', 'class'=>'icon-remove-sign')+"删除", admin_product_path(product), :confirm => "确定删除?", :method=>:delete %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @products %>