<% unless flash[:error].blank? %>
<div class="alert alert-error">
  <%= flash[:error] %>
</div>
<% end %>

<div class="mb10">
  <a class="btn" href="<%= url_for(:controller => 'admin/products', :action => 'new') %>"><i class="icon-plus-sign"></i> 添加产品</a>
  -
  <div class="input-prepend input-append mb0">
    <form class="mb0" method="get" action="<%= url_for(:controller => 'admin/products', :action => 'amazon') %>">
    <span class="add-on">sku</span>
    <input class="span2" name="asin" type="text">
    <button class="btn" type="submit">爬取</button>
    </form>
  </div>
</div>

<table class="table table-bordered table-striped" id="products">
  <thead>
  <tr>
    <th>产品名称</th>
    <th>颜色/材料</th>
    <th width="120">综合信息</th>
    <th width="60">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= highlight(product.name.downcase, Product.colors + Product.fabrics) %>
      <% provide(:javascript, javascript_include_tag('admin/images')) %>
      <%= render 'admin/images/list', :images=>product.images %>
      <div class="cates">
        <% product.categories.each do |category| %>
            <a class="label label-important" href="javascript:void(0);">
              <%= category.name %><button title="移除该分类" onclick="" class="close">×</button>
            </a>
        <% end %>
        <%=render_category_select%>
        <a class="btn btn-mini add-category" data-id="<%=product.id%>" href="<%= url_for(:controller => 'admin/products', :action => 'create_category') %>">添加分类</a>
      </div>
    </td>
    <td>
      <div>
        <div>color:<%=product.color%></div>
        <div>
          <select name="color" style="width: 90px;"><% Product.colors.each do |color|%><option><%=color%></option><% end %></select>
          <a title="确定" href="javascript:void(0);"><i class="icon-ok-sign"></i></a>
        </div>
      </div>
      <div>
        <div>fabric:<%=product.fabric%></div>
        <div>
          <select name="fabric" style="width: 90px; margin: 0;"><% Product.fabrics.each do |fabric|%><option><%=fabric%></option><% end %></select>
          <a title="确定" href="javascript:void(0);"><i class="icon-ok-sign"></i></a>
        </div>
      </div>
    </td>
    <td>
      <div>id:<%= product.id %></div>
      <div>asin:<strong><%= product.asin %></strong></div>
      <div><strong><%= product.discount.sale_price if !product.discount.blank? %></strong> / <%= product.price %></div>
      <div><%= product.created_at.to_date %></div>
    </td>
    <td>
      <a href="<%= edit_polymorphic_url([:admin, product]) %>"><i class="icon-edit"></i>编辑</a>
      <p></p>
      <%= link_to content_tag(:i, '', 'class'=>'icon-remove-sign')+"删除", admin_product_path(product), :confirm => "确定删除?", :method=>:delete %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @products, :theme => 'bootstrap' %>

<%= render "admin/common/modal" %>