<% provide(:title, "all brands in bestdressworld.com") %>
<ul class="brands box clearfix unstyled">
  <% @brands.each_with_index do |brand, index| %>
  <li <%= "class=right-last" if (index+1) % 5 == 0 %>>
    <% brand_url = brand_url(brand.url_key.blank? ? brand.id : brand.url_key) %>
    <div class="logo"><a title="<%=brand.name%>" href="<%= brand_url %>"><img src="<%=brand.logo%>"/></a></div>
    <div class="slogan"><a href="<%= brand_url %>"><%= brand.slogan.blank? ? brand.name : brand.slogan %></a></div>
  </li>
  <% end %>
</ul>
