<div class="item">
  <div class="bg">
    <% hw = image_height_width(product.images[0], 255) %>
    <div class="pic" style="height: <%=hw[:height]%>px;">
      <a href="<%= product_url(product.seo_url) %>" target="_blank">
        <img style="height: <%=hw[:height]%>px; width: <%=hw[:width]%>px;" alt="<%=product.name + '_0'%>" title="<%=product.name + '_0'%>" src="<%=product.images[0].url%>"/>
      </a>
    </div>
    <div class="content">
      <%= product.name.downcase %>
      <div class="price">
        <% if !product.discount.blank? && product.discount.sale_price > 0 && product.discount.sale_price < product.price %>
        <span style="text-decoration:line-through;">$<%= product.price %></span>
        <strong>$<%=product.discount.sale_price%></strong>
        <% else %>
        <span>$<%= product.price %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ft"></div>
</div>