<div class="item">
  <div class="bg">
    <% hw = image_height_width(product.images[0], 255) %>
    <div class="pic" style="height: <%=hw[:height]%>px;">
      <a href="<%= product_url(product.seo_url) %>" target="_blank">
        <img style="height: <%=hw[:height]%>px; width: <%=hw[:width]%>px;" alt="<%=product.name + '_0'%>" title="<%=product.name + '_0'%>" src="<%=product.images[0].url%>"/>
      </a>
    </div>
    <div class="content">
      <%= product.name.downcase %>
      <div class="price">
        <%= render "products/price", :product => product %>
      </div>
      <% if can?(:edit, product) %>
      <a class="btn btn-info btn-small btn-block" href="<%= edit_product_path(product, :ret_url => request.url) %>">Edit</a>
      <% end %>
    </div>
  </div>
  <div class="ft"></div>
</div>