<% provide(:title, "edit: "+@product.seo_title) %>
<%= form_for @product, :html => {:class=>'form-large'} do |f| %>
  <%= f.hidden_field :id %>
  <input type="hidden" name="ret_url" value="<%=params[:ret_url]%>"/>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>

  <label for="product_discount_attributes_sale_price">Sale price</label>
  <input type="hidden" name="product[discount_attributes][product_id]" value="<%= @product.id %>"/>
  <input id="product_discount_attributes_sale_price" type="text" name="product[discount_attributes][sale_price]" value="<%= @product.discount ? @product.discount.sale_price : 0 %>"/>

  <div class="options">
  <% Option.data.each_with_index do|(group, data), index| %>
    <span><%=group%></span>
    <select name="product[option_ids][]">
      <option value="">select...</option>
      <% data.each do |op| %>
      <option <%=" selected=selected" if @product.options.include?(op) %> value="<%=op.id%>"><%=op.name_en%></option>
      <% end %>
    </select>
  <% end %>
  </div>

  <div><%= f.submit :class => 'btn btn-info' %></div>
<% end %>
