<div class="container box" style="border: #DCDCDC 1px solid;">
  <div class="row">
    <div class="span6" style="background-color: #FBFBFB; border-radius: 5px 0 0 5px;">
      <div style="text-align: center; background: url(<%= asset_path('product_img_bg.png') %>); margin: 20px;">
      <a target="_blank" href="<%= @product.buy_url %>">
        <img title="<%= @product.name %>" alt="<%= @product.name %>" src="<%= @product.images[0].url %>" />
      </a>
      </div>
    </div>
    <div class="span6">
      <div class="mt15">
        <div style="padding: 10px 10px 15px 12px; position: relative; border-radius: 5px; overflow: hidden; background-color: #FFF8E6;">
         <p><a title="<%= @product.name %>" style="text-decoration: underline; color: #333;" target="_blank" href="<%= @product.buy_url %>"><%= @product.name[0, 45] + '...' %></a></p>
         <p>
           <span style="text-decoration: line-through;">$<%= @product.price %></span>
           <span style="font-size: 20px; color: #000;">$<%= @product.discount.sale_price %></span>
         </p>
         <div class="pull-right" style="position: absolute;top: 20px; left: 350px;">
           <a target="_blank" class="btn btn-large" href="<%= @product.buy_url %>">Buy!</a>
         </div>
        </div>
        <div class="mt10" style="line-height: 19px;">
          <%= simple_format(sanitize(CGI.unescapeHTML(@product.description.content), :tags => %w(br))) %>
        </div>
      </div>

      <div style="text-align: center;">
        <textarea style="width: 440px; height: 60px;">say something O(∩_∩)O</textarea>
      </div>
    </div>
  </div>
</div>