<% provide(:stylesheet, stylesheet_link_tag('homepage')) %>

<div class="slogan">Find the best dress in the world, share with friends!</div>

<p class="list-title">
  The <strong>Latest</strong> Best Dresses
  <a href="<%= products_path %>"><small>more..</small></a>
</p>

<ul class="products unstyled clearfix">
  <% @latest.each do |product| %>
      <li class="box">
        <a title="<%=product.name%>" href="<%=product_path(product.seo_url)%>">
          <img src="<%=product.images[0].url%>"/>
        </a>
        <div><%= render "products/price", :product => product %></div>
      </li>
  <% end %>
</ul>

<p class="list-title mt15">
  The <strong>Hottest</strong> Best Dresses
  <a href="<%=products_path%>"><small>more..</small></a>
</p>
<ul class="products unstyled clearfix">
  <% @hottest.each do |product| %>
    <li class="box">
      <a title="<%=product.name%>" href="<%=product_path(product.seo_url)%>">
        <img src="<%=product.images[0].url%>"/>
      </a>
      <div><%= render "products/price", :product => product %></div>
    </li>
  <% end %>
</ul>