<div class="header">
  <div class="info-bar" style="height: 60px; margin-top: 10px;">
    <div class="container" style="text-align: center;">
      <a href="<%= root_url %>"><img src="<%= asset_path('logo.png') %>"/></a>
    </div>
  </div>
  <div class="nav-bar" style="height: 32px; margin-bottom: 1px; border-bottom: 3px #FA649F solid;">
    <div class="container">
        <ul class="nav-main pull-left unstyled">
          <li class="find"><a href="javascript:void(0);">Find All</a></li>
          <li><a <%=nav_active(nil, 'homepage')%> href="<%= root_url %>">Home</a></li>
          <li class="split"><a <%=nav_active('products')%> href="<%= products_url %>">Products</a></li>
          <li class="split"><a <%=nav_active('topics')%>href="javascript:void(0);">Topic</a></li>
          <li class="split"><a href="javascript:void(0);">How To</a></li>
          <li class="split"><a href="javascript:void(0);">Sale</a></li>
        </ul>
        <ul class="pull-right unstyled">
          <li>History</li>
          <li>Love</li>
        </ul>
        </div>
  </div>
  <div id="cate-panel"<%= yield(:show_cate_panel) || '' %>>
     <ul class="cate-nav">
       <li>
         <div class="big">
           <a href="javascript:void(0);" target="_blank">Wedding Dress</a>
         </div>
         <div class="sub">
           <a href="">bridesmaid</a>
           <a href="">cheap</a>
         </div>
         <b></b>
       </li>
       <li><div class="big"><a href="javascript:void(0);" target="_blank">Occasion Dresses</a></div>
         <div class="sub">
           <a href="">graduation</a>
           <a href="">prom</a>
           <a href="">cocktail</a>
         </div>
         <b></b>
       </li>
       <li><div class="big"><a href="javascript:void(0);" target="_blank">Colorful Dress</a></div>
         <div class="sub">
           <a href="">black</a>
           <a href="">white</a>
           <a href="">purple</a>
           <a href="">red</a>
         </div>
         <b></b></li>
       <li><div class="big"><a href="javascript:void(0);" target="_blank">Holiday Dresses</a></div>
         <div class="sub">
           <a href="">christmas</a>
           <a href="">monsoon</a>
         </div>
         <b></b></li>
       <li><div class="big"><a href="javascript:void(0);" target="_blank">Material Dress</a></div>
         <div class="sub">
           <a href="">lace</a>
           <a href="">chiffon</a>
           <a href="">silk</a>
           <a href="">cotton</a>
         </div>
         <b></b></li>
       <li><div class="big"><a href="javascript:void(0);" target="_blank">Functional Dress</a></div>
         <div class="sub">
           <a href="">bodycon</a>
           <a href="">petite</a>
           <a href="">backless</a>
         </div>
         <b></b></li>
       <li style="border-bottom: none; margin-bottom: 0;"><div class="big"><a href="javascript:void(0);" target="_blank">Accessories</a></div>
         <div class="sub">
           <a href="">corset</a>
         </div>
         <b></b></li>
     </ul>
  </div>
  <div class="bottom"></div>
</div>