<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>the best dress of the world admin system!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
        <div class="pull-right" style="padding: 10px;;">
          欢迎：admin
          -
          <a href="#">退出</a>
          -
          <a target="_blank" href="<%= root_url %>">网站首页</a>
        </div>
        <ul class="nav nav-tabs" style="padding: 10px 20px; padding-bottom: 0;;">
          <li<%= ' class=active' if params[:controller] == 'admin/products' %>><a href="<%= url_for(:controller => 'admin/products') %>">产品管理</a></li>
        </ul>
    </div>
    <div style="padding: 10px; padding-top: 0;">
      <%= yield %>
    </div>
    <div></div>
</body>
</html>
