<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>the best dress of the world admin system!</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= yield(:stylesheet) %>
  <%= javascript_include_tag "admin" %>
  <%= javascript_include_tag params[:controller] %>
  <%= yield(:javascript) %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
        <div class="pull-right" style="padding: 10px;;">
          欢迎：admin
          -
          <a href="<%=logout_url%>">退出</a>
          -
          <a target="_blank" href="<%= root_url %>">网站首页</a>
        </div>
        <ul class="nav nav-tabs" style="padding: 10px 20px; padding-bottom: 0; margin: 10px;">
          <li<%= nav_active(['admin/products', 'admin/amazon']) %>><a href="<%= url_for(:controller => 'admin/products') %>">产品管理</a></li>
          <li<%= nav_active('admin/categories') %>><a href="<%= url_for(:controller => 'admin/categories') %>">分类管理</a></li>
          <li<%= nav_active('admin/options') %>><a href="<%= url_for(:controller => 'admin/options') %>">Option管理</a></li>
        </ul>
        <% if ['admin/products', 'admin/amazon'].include?(params[:controller]) %>
        <div style="padding-left: 30px; margin-bottom: 20px; border-bottom: #ccc 1px solid; padding-bottom: 10px;">
          <a class="btn" href="<%= admin_amazon_index_url %>">amazon!</a>
        </div>
        <% end %>
    </div>
    <div style="padding: 10px; padding-top: 0;" class="clearfix">
      <%= yield %>
    </div>
    <div></div>
</body>
</html>
