<!DOCTYPE html>
<html lang="en">
<head>
  <title>BestDressWorld.com: Find The Best Dress Of The World!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= yield(:stylesheet) %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= yield(:javascript) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'common/header' %>
  <%= yield %>
  <%= render :partial => 'common/footer' %>
</body>
</html>
