<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "common/head_meta" %>
</head>
<body>
  <%= render :partial => 'common/header' %>

  <div class="container">
    <div class="box clearfix padding10 mb15" style="padding-bottom: 0;">
      <div class="pull-right user-image box">
        <img src="<%=@user.image%>"/>
      </div>
      <div class="pull-left" style="margin-left: 5px;">
        <%=render "users/menu"%>
      </div>
    </div>

    <div><%= yield %></div>
  </div>

  <%= render :partial => 'common/footer' %>
</body>
</html>
